// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

main {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: #F0F7FF;
  color: #000;

  .content {
    margin: 0 2rem;
  
    h1 {
      padding: 1rem 0;
      font-size: 36px;
      font-weight: 500;
      cursor: pointer;
    }

    h2 {
      margin-top: 1rem;
    }

    .password_desc {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .password_cell {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .label {
          font-size: 14px;
          color: #737373;
        }

        .text {
          font-size: 18px;
        }
      }
    }
  }
}